#app{
  background-color: $background-gray;
}
.content-container{
  width: 91.75vw;
  max-width: 1240px;
  padding-top: 46px;
  background: $white;
  min-width: 960px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.sidebar-placeholder{
  flex: 1;
  display: flex; 
  flex-direction: column; 
  border-left: 1px $light-gray solid;
  margin-top: 22px; 
}

.track-index-page-container{
  display: flex;
  width: 100%;
}

.extraspace{
  margin-bottom: 40px; 
}

.ad-container{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  margin: 15px auto; 
  height: 250px;
  width: 300px;
  img {
    flex-shrink: 0; 
    min-width: 100%; 
    max-width: 100%; 
  }
}