#app{
  background-color: $background-gray;
}
.content-container{
  width: 91.75vw;
  max-width: 1240px;
  padding-top: 46px;
  background: $white;
  min-width: 960px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.sidebar-placeholder{
  flex: 1;
  border-left: 0.5px $light-gray solid;
}

.track-index-page-container{
  display: flex;
  width: 100%;
}
