

.comment-container{
  display: flex;
  flex-direction: column;
  // margin: 20px 30px;
  position: relative;
  top: 30px;
  .comment-form{
    display: flex;
    width: 100%;
    .comment-form-user{
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      box-sizing: border-box;
      height: 40px;
      width: 40px;
      img {
        flex-shrink: 0;
        min-width: 100%;
        max-width: 100%;
      }
    }
    .comment-input-container{
      display: flex;
      background-color: #f2f2f2;
      width: 100%;
      .comment-input{
        border: 1px lightgray solid;
        width: 100%;
        box-sizing: border-box;
        margin: 7px;
        border-radius: 3px;
        padding: 5px;
      }
    }
  }
}

.cform{
  width: inherit;
  display: flex; 
}