#header-carousel-off{
  // display: hidden;
  // position: relative;
  .backbar{
    position: fixed;
    width: 100vw;
    background-color: $dark-gray;
    height: 46px;
    z-index: 10;
  }
}

.cloud-logo-li {
  background: image_url('cloud.png');
  background-repeat: no-repeat;
  height: 45px;
  position: relative;
  top: 10px;
  left: 11px;
  padding-top: 1px;
}

.navbar {
display: flex;
width: 91.75vw;
max-width: 1240px;
height: 46px;
margin: 0 auto;
align-items: center;
justify-content: space-between;
font: 14px/1.5 normal white;
font-family: $sans-serif;
background-color: $dark-gray;

  .navbar-left {
    display: flex;
    align-items: center;
    text-align: center;
    .header-logo {
      box-sizing: border-box;
      background: linear-gradient(#f70,#f30);
      width: 69px;
    }
  }
  .navbar-right {
    display: flex;
    align-items: center;
    text-align: center;
    .header-item{
      border-left: 1px black solid;
      border-right: 0px black solid;
    }
  }
}
.header-item {
  text-align: center;
  box-sizing: border-box;
  font-size: 14px;
  padding: 12px 0px;
  width: 104px;
  color: $cloud-gray;
  border-right: 1px black solid;

}
.header-item:hover {
  color: $white;
}
// .header-item:hover{
//   color: #fff;
//   cursor: pointer;
// }
