#header-carousel-off{
  // display: hidden;
  // position: relative;
  .backbar{
    position: fixed;
    width: 100vw;
    background-color: #333;
    height: 46px;
  }
}

.cloud-logo-li {
  background: image_url('cloud.png');
  background-repeat: no-repeat;
  height: 45px;
  position: relative;
  top: 10px;
  left: 11px;
  padding-top: 1px;
}

.navbar {
left: 50px;
width: 80%;
margin: 0 auto;
display: flex;
height: 46px;
align-items: center;
justify-content: space-between;
font: 14px/1.5 normal white;
font-family: "Lucida Grande", Arial, sans-serif;
background-color: #333;
  .navbar-left {
    display: flex;
    align-items: center;
    text-align: center;
    .header-logo {
      box-sizing: border-box;
      background: linear-gradient(#f70,#f30);
      width: 69px;
    }
  }
  .navbar-right {
    display: flex;
    align-items: center;
    text-align: center;
  }
}
.header-item {
  border-left: 1px black solid;
  text-align: center;
  box-sizing: border-box;
  font-size: 14px;
  padding: 12px 0px;
  width: 104px;
  color: #ccc;
  border-right: 1px black solid;

}
.header-item:hover {
  color: #fff;
}
// .header-item:hover{
//   color: #fff;
//   cursor: pointer;
// }
