#header-carousel{
  position: relative;
  background: url(https://a-v2.sndcdn.com/assets/images/home/hp_image-6155d6b.jpg) 0 0/cover no-repeat;
  height: 446px;
  margin: 0 auto;
  min-width: 960px;
  width: 91.75vw;
  max-width: 1240px;
  border-top: 4px solid $cloud-orange;
}

.splash-cloud {
  background: image_url('cloud.png');
  background-repeat: no-repeat;
  height: 45px;
  position: relative;
  top: 25px;
  left: 30px;
  padding-top: 1px;
}
.splash-text {
  height: 45px;
  position: relative;
  top: -20px;
  left: 38px;
  letter-spacing: 5px;
  color: white;
}

.splashbar {
width: 90vw;
display: flex;
height: 46px;
align-items: center;
justify-content: space-between;
font: 14px/1.5 normal white;
font-family: "Roboto", "Lucida Grande", Arial, sans-serif;
  .splash-left {
    display: flex;
    align-items: center;
    text-align: center;
    .splash-logo{
      box-sizing: border-box;
      width: 184px;
      height: 46px;
    }
  }
  .splash-right {
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 30px;
    .sbutton {
      border-radius: 3px;
      color: white;
      height: 30px;
      padding: 4px;
    }
  }
}

.signin-button {
  box-sizing: border-box;
  width: 74px;
  border: 1px solid rgb(204, 204, 204);
  background-color: rgba(0, 0, 0, 0);
  margin-right: 8px;

  font-weight: 100;

}
.signup-button {
  box-sizing: border-box;
  width: 136px;
  background-color: $cloud-orange;
  font-weight: 100;

}
.signin-button:hover{
  border-color: $white;
}

.titlespacing{
letter-spacing: 5px;
}

#splashpage{
  display: flex;
  flex-direction: column;
  align-items: center; 
}
#splashbottom{
  width: 91.75vw;
  max-width: 1240px;
  padding-top: 46px;
  background: #fff;
  min-width: 960px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  h1{
    font-size: 32px;
    line-height: 41.6px;
    font-weight: 300;
    margin: 0 auto 30px;
  }
}

.badgeListUl{
  list-style: none;
  margin: 0 5px;
  display: flex;
  margin-left: 5px;
  flex-wrap: wrap;
}

.badge{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 40px;
}

.badgeImage{
  box-sizing: border-box;

  background-color: $cloud-orange; 

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 180px;
  max-height: 180px;
  min-width: 180px;
  min-height: 180px;
  img {
    flex-shrink: 0;
    min-width: 100%;
    max-width: 100%;
  }
}
.badgeInfo{
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.badgeDet{
  font-weight: 300; 
}

.badgeDet:hover{
  color: black; 
}

.bdsn{
  color: gray; 
}
.bda{
  color: $cloud-gray; 
  padding-top: 3px; 
}

.splash-title{
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%);
  color: white;
  text-align: center;
  letter-spacing: 1px;
  font-family: $sans-serif; 
}

.splash-subtitle{
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%);
  color: white;
  text-align: center;
  letter-spacing: 1px;
  font-family: "Roboto", arial, helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  width: 500px;
  line-height: 1.5;
  margin-top: 15px;
}

.badge-a-tags{
 margin: 0 auto; 
}

h3.bl-header {
  margin: 10px auto 40px;
  font-size: 25px;
  font-weight: 300;
}