.track-show-page{
  display: flex;
  flex-direction: column;
  width: 100%; 
}

.track-show-container{
  display: flex;
  box-sizing: border-box;
  height: 380px;
  width: 100%;
  background-color: #7E99CC;
}

.track-show-detail{
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #7E99CC;
  margin: 30px;
  .track-sd-top{
    display: flex;
    box-sizing: border-box;
    height: 63px;
    align-items: center;
    .ts-play{
      box-sizing: border-box;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDggMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPlBsYXkgMjg8L3RpdGxlPjxwYXRoIGQ9Ik0wIDE0bDEuODQ2LTdMMCAwbDggNy04IDd6IiBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
      background-size: 35px 35px;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      height: 60px;
      width: 60px;
      background-color: $cloud-orange;
      cursor: pointer;
    }
    .playing {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDggMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPlBhdXNlIDI4PC90aXRsZT48cGF0aCBkPSJNNSAwdjEyaDNWMEg1ek0wIDB2MTJoM1YwSDB6IiBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
      background-color: rgb(255, 51, 0);
    }
    .track-sd-info{
      display: flex;
      flex-direction: column;
      margin-left: 10px;
    }
  }
  .track-sd-bott{
    width: 100%;
    height: 100px;
  }
}

.track-show-image-container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 340px;
  max-height: 340px;
  min-width: 340px;
  min-height: 340px;
  margin: 20px;
  img {
    flex-shrink: 0;
    min-width: 100%;
    max-width: 100%;
  }
}
