.track-show-page{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.track-show-container{
  display: flex;
  box-sizing: border-box;
  height: 380px;
  width: 100%;
  background-image: linear-gradient(90deg, #7E99CC, #FFF);
}

.track-show-detail{
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  margin: 30px;
  .track-sd-top{
    display: flex;
    box-sizing: border-box;
    height: 63px;
    align-items: center;
    .ts-play{
      box-sizing: border-box;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDggMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPlBsYXkgMjg8L3RpdGxlPjxwYXRoIGQ9Ik0wIDE0bDEuODQ2LTdMMCAwbDggNy04IDd6IiBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
      background-size: 35px 35px;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      height: 60px;
      width: 60px;
      background-color: $cloud-orange;
      cursor: pointer;
    }
    .playing {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDggMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPlBhdXNlIDI4PC90aXRsZT48cGF0aCBkPSJNNSAwdjEyaDNWMEg1ek0wIDB2MTJoM1YwSDB6IiBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
      background-color: rgb(255, 51, 0);
    }
    .track-sd-info{
      display: flex;
      flex-direction: column;
      margin-left: 10px;
    }
  }
  .track-sd-bott{
    width: 100%;
    height: 100px;
  }
}

.track-show-image-container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 340px;
  max-height: 340px;
  min-width: 340px;
  min-height: 340px;
  margin: 20px;
  img {
    flex-shrink: 0;
    min-width: 100%;
    max-width: 100%;
  }
}

.track-show-container-bottom{
  display: flex;
  width: 100%;
}

.tscb-left{
  flex: 2;
  display: flex; 
  flex-direction: column; 
  .button-bar{
    margin-left: 25px;
    height: inherit; 
  }
}
.track-show-comment-bar{
  width: 100%;
  box-sizing: border-box;
  padding: 20px 30px 5px;
}
//////
.ti-comment-bar{
  width: 100%;
  .comment-container{
    margin-top: 25px; 
  }
}


.tscb-sidebar{
  flex: 1;
  display: flex; 
  flex-direction: column; 
  border-left: 1px lightgray solid;
  margin-top: 22px;
}

.ts-uploader-ci{
  display: flex;
  max-width: 100%;
  border-top: 1px lightgray solid;
  padding-top: 25px;
  margin: 15px 30px;
  .ts-uc-left{
    flex: 1;
    .ts-artist-circle{
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      box-sizing: border-box;
      max-width: 120px;
      max-height: 120px;
      min-width: 120px;
      min-height: 120px;
      border-radius: 50%;
      img {
        flex-shrink: 0;
        min-width: 100%;
        max-width: 100%;
      }
    }
    .ts-artist-name, .ts-follow-btn{
      margin: 10px 0px; 
    }
    .ts-follow-btn{
      font-size: 11px;
      font-weight: 600;
      color: white;
      background-color: #f50;
      cursor: pointer;
      padding: 5px 10px;
      border-radius: 3px;
      width: min-content;
      display: none; 
    }
  }

  .ts-uc-right{
    flex: 3; 
    .ts-track-description{
      font-size: 14px;
      margin-bottom: 25px;
      font-weight: 300;
      font-size: 14px;
      font-weight: 300;
    }
  }
}

.track-show-comment-index{
  border-top: 1px solid lightgray;
}

.track-sd-uploader{
  font-size: 16px;
  color: lightgray;
  font-weight: 300;
  background-color: rgba(0,0,0,0.75);
  padding: 5px 8px;
  margin-bottom: 5px;
  width: fit-content;
}

.track-sd-title{
  font-size: 25px;
  font-weight: 300;
  color: white;
  background-color: rgba(0,0,0,0.75);
  text-align: center;
  padding: 10px 9px;
}