.track-item-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  font-weight: 300;
  margin-bottom: 36px;
  .track-uploader-info{
    display: flex;
    align-items: center;
    margin-bottom: 10px; 

    .track-uploader-circle{
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      box-sizing: border-box;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      box-shadow: 1px 1px 5px lightgrey;
      // background: image_url('missing.png');
      // background-size: contain;

      img {
        flex-shrink: 0;
        min-width: 100%;
        max-width: 100%;
      }
    }
    .track-uploader-name{
      color: black;
      margin-left: 6px;
    }
  }

  .track-item{
    display: flex;
    .track-image-box{
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      box-sizing: border-box;
      width: 160px;
      height: 160px;
      min-width: 160px;
      min-height: 160px;
      box-shadow: 1px 1px 5px lightgrey;
      // background: image_url('missing.png');
      // background-size: contain;
      img {
        flex-shrink: 0;
        min-width: 100%;
        max-width: 100%;
      }
    }
    .track-details{
      flex: 4;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 15px;
      .td-top{
        box-sizing: border-box;
        display: flex;
        height: 50px;
        align-items: center;
        .ti-play {
          box-sizing: border-box;
          background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDggMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPlBsYXkgMjg8L3RpdGxlPjxwYXRoIGQ9Ik0wIDE0bDEuODQ2LTdMMCAwbDggNy04IDd6IiBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
          background-size: 12px 18px;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 50%;
          height: 36px;
          width: 36px;
          background-color: $cloud-orange;
          box-shadow: 1px 1px 5px lightgrey;
          cursor: pointer;
        }
        .playing {
          background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDggMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPlBhdXNlIDI4PC90aXRsZT48cGF0aCBkPSJNNSAwdjEyaDNWMEg1ek0wIDB2MTJoM1YwSDB6IiBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
          background-color: rgb(255, 51, 0);
        }
        .ti-upload-det{
          height: 80%;
          margin-left: 6px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          aside{
            padding: 2.5px 0px;
          }
        }
        .ti-description{
          color: gray;
          font-size: 12px;
        }
        .ti-description:hover{
          color: black;
        }
        .ti-title{
          color: black;
          font-size: 15px;
        }
      }
      .sound-bar{
        width: 100%;
        height: 60px;
        position: relative;
        span{
          position: absolute;
          width: 100%;
          height: 30px;
          z-index: 4;
          background-color: rgba(255,255,255,0.75);
          bottom: 0;
          pointer-events: none; 
        }
      }
      .comment-bar{
        width: 100%;
        height: 32px;
        background-color: black;
      }
    }
  }


}

.button-bar{
  display: flex;
  margin-top: 10px;
  height: 22px;
  text-align: center;
  .controller-btn{
    border: 1px lightgray solid;
    margin: 0 5px;
    width: 70px;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 4px;
  }
  .controller-btn:hover{
    border-color: gray;
  }
}

.like-btn{
  color: black; 
  border: 2px solid black; 
}

.liked{
  color: $cloud-orange;
  border: 2px solid $cloud-orange; 
}